body {
  font-family: 'Solway', serif;
}

.text_center {
  text-align: center;
}

h2 {
  margin-top: 40px;
  border: 1px solid blue;
  padding: 10px;
}

h3 {
  margin: 20px 0;
  text-align: center;
}

p {
  text-align: center;
}

.col-lg-6 {
  margin-top: 20px;
  border: 1px solid blue;
}

.title {
  width: 100%;
}

.maps_img {
  width: auto;
  height: 200px;
}

.maps_img_third {
  width: auto;
  height: 150px;
  background-color: #428bca;
  border-radius: 100px;
  margin-top: 30px;
}

hr {
  margin-top: 30px;
}
